<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="handleSubmitForm()">
    <mat-card-title>Create a new question</mat-card-title>

    <mat-card-content>
        <mat-vertical-stepper formArrayName="formArray" linear #stepper>
          <mat-step formGroupName="0" [stepControl]="formArray.get([0])!">
            <ng-template matStepLabel>Write your question text here</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Text</mat-label>
              <input matInput name="questionText" formControlName="questionText" required />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>
          <mat-step formGroupName="1" [stepControl]="formArray.get([1])!">
            <ng-template matStepLabel>Correct answers</ng-template>
            <div *ngFor="let correctAnswer of correctAnswers.controls; let i = index">
              <button mat-button type="button" (click)="handleRemoveCorrectAnswer(i)">&#x2715;</button>
              <mat-form-field formArrayName="correctAnswers" appearance="fill">
                <mat-label>Text</mat-label>
                <input matInput name="correctAnswer" [formControlName]="i" required />
              </mat-form-field>
            </div>
            <div>
              <button mat-button type="button" (click)="handleAddCorrectAnswer()">+ add one more</button>
            </div>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </mat-step>
          <mat-step formGroupName="2" [stepControl]="formArray.get([2])!">
            <ng-template matStepLabel>Wrong answers</ng-template>
            <div *ngFor="let wrongAnswer of wrongAnswers.controls; let i = index">
              <button mat-button type="button" (click)="handleRemoveWrongAnswer(i)">&#x2715;</button>
              <mat-form-field formArrayName="wrongAnswers" appearance="fill">
                <mat-label>Text</mat-label>
                <input matInput name="wrongAnswer" [formControlName]="i" required />
              </mat-form-field>
            </div>
            <div>
              <button mat-button type="button" (click)="handleAddWrongAnswer()">+ add one more</button>
            </div>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>Discard</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
        Create
      </button>
    </mat-card-actions>
  </form>
</mat-card>
